Package: com.yourname.tweakalert
Name: Tweak Alert
Version: 1.0
Architecture: iphoneos-arm
Description: Simple alert tweak with buttons
Maintainer: YourName
Author: YourName
Section: Tweaks
Depends: mobilesubstrate
